@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bgMain: rgb(23, 99, 134);
  --bgHF: rgb(41, 131, 173);
}

html, body{
  font-family: 'Kanit';
  color:#d4d4d4;
  margin: 0;
  padding:0;
  height: 100%;
}


#root{
  min-height: 100vh;
  margin:0;
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
}

#pageContainer{
  /* min-height: 100%;
  height: 100%;
  flex-grow: 1; */
}

.page{
   min-height:100%;
   height:100%;
}

.page p{
  margin-bottom: 1rem;
  text-indent: 1cm;
}
.icons img{
  margin: 0.5rem;
}
.footer img{
  width:50px;
  height:50px;
}